html
 head
    meta(charset='utf-8')
    title MyOrders
    link(rel='shortcut icon', type='image/x-icon', href='static/favicon.ico')
    link(rel='stylesheet', href='static/css/bootstrap.min.css')
    style(media='screen').
      .footer{
      background-color: #dbd6d6;
      text-align: center;
      }
 body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/home') My Orders
        ul.nav.navbar-nav
          li
            a(href='/home') Home
          li
            a(href='/addItem') Add Item
        ul.nav.navbar-nav.navbar-right
            li
              a(href='/home', class='glyphicon glyphicon-user')
               span=' Hello,' + result.username + '!'
            li
              a(href='/logout', class='glyphicon glyphicon-log-in')
               span=' Logout'
    .col-md-4.col-md-offset-4
        h1 Creating Product
        form#register-form(action='/addItem', enctype="multipart/form-data", method='POST')
                    .form-group
                      label Title
                      input#TitleText.form-control(type='text', name='title', tabindex='1', placeholder='Title', value='')
                    .form-group
                      label Price
                      input#PriceNum.form-control(type='number', name='price', tabindex='2', min="1")
                    .form-group
                      label Description
                      textarea#DescriptionTextArea.form-control(rows='3', name='description')
                    .form-group
                      label Image of product
                      input#ImageFile.form-control-file(type='file', name='upl')
                    .form-group
                      .row
                        .col-sm-6.col-sm-offset-3
                          input#register-submit.btn-success.form-control.btn.btn-register(type='submit', name='register-submit', tabindex='4', value='Add')
    .footer.navbar-fixed-bottom
        h4
          | Made by 
          a(href='https://github.com/David-Mavrodiev/MyOrders') OUR TEAM
 //Loaded scripts
 script(src='static/js/jquery.js')
 script(src='static/js/bootstrap.min.js')