html  
  head
    link(rel='shortcut icon', type='image/x-icon', href='static/favicon.ico')
    link(href='static/css/bootstrap.min.css', rel='stylesheet')
  body
    div(style="padding: 10% 0")
      .col-lg-8.col-lg-offset-2.text-center
          img(src="static/egorskiIcon.png" style="width: 10em;")
      .col-lg-8.col-lg-offset-2.text-center
          h1(style="color: #681300;")= result.error
      .col-lg-8.col-lg-offset-2.text-center
          a(href="" + result.back).btn.btn-danger Назад 
    script(src='static/js/jquery.js')
    script(src='static/js/bootstrap.min.js')