doctype html
html
  head
    meta(charset='utf-8')
    title MyOrders
    link(rel='shortcut icon', type='image/x-icon', href='static/favicon.ico')
    link(rel='stylesheet', href='static/css/bootstrap.min.css')
    style(media='screen').
      .footer{
      background-color: #dbd6d6;
      text-align: center;
      }
  body
    script(type='text/javascript', src='static/js/jquery.js')
    script(src='static/js/bootstrap.min.js')
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/home') My Orders
        ul.nav.navbar-nav
          li
            a(href='/home') Home
          if result.isUserAuthenticated && !result.IsSeller
           li
             a(href='/myOrders') My Orders
          if result.isUserAuthenticated && result.IsSeller
           li
            a(href='/addItem') Add Item
           li
            a(href='/myProducts') My Products
        if result.isUserAuthenticated
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/home', class='glyphicon glyphicon-user')
               span=' Hello,' + result.username + '!'
               if result.IsSeller
                span  Role:Seller
               else
                span Role:Consumer
            li
              a(href='/logout', class='glyphicon glyphicon-log-in')
               span=' Logout'
    .jumbotron.text-center
      if result.isUserAuthenticated
          h1(style='color: blue;text-shadow: 2px 2px #42d9f4;') All products
      else
        h1(style='color: green;text-shadow: 2px 2px #1ff438;') My Orders
        p(style="color: brown")
            | (online system to make easier control your sells)
    if result.products
     if result.products.length == 0
      .jumbotron.text-center
        h3 No Items!
     else
        .items
          each product in result.products
           .col-md-4
            a(href="/DetailProduct/" + product.title)
             .thumbnail
              img.img-circle.img-responsive.profile-image(style='width: 200px; height: 200px;', src='./static/uploads/' + product.title + '.jpg')
              .caption
                p.text-center= product.title
                p.text-center= product.owner
    .container
      .row
            if !result.isUserAuthenticated
              .col-sm-4
              a(href='/login')
                h3.btn-lg.btn-success(style="text-align: center;") Login / Register                
      .footer.navbar-fixed-bottom
        h4
          | Made by 
          a(href='https://github.com/David-Mavrodiev/MyOrders') OUR TEAM
      
script(type='text/javascript').
  var frm = $('#myform');
  frm.submit(function (ev) {
  $.ajax({
  type: frm.attr('method'),
  url: frm.attr('action'),
  data: frm.serialize(),
  success: function (data) {
  $("#Alert").css('display', "block");
  }
  });
  ev.preventDefault();
  });

